.banner{
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2) ), url("../../images/background.jpeg");
  background-size: cover;      
  background-position: center; 
  color: white;
  padding: 100px 20px;
}


  .banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;  
    font-style: italic;
    font-size: 60px;
    color: white;
    line-height: 1.1;
}

.banner h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}

